<div class="about" style="background:url('/media/images/about-city.jpg'); background-size:cover;">
	Dublin based geek with a love of all things technology and art. Founder of a company called Webinate and 
    offer my services as a coder for hire. I keep myself busy with building projects and websites, both frontend
    as well as backend. Also have a good eye for design and art.
</div>
<div class="clients" id="clients">
	<h1>Clients</h1>
	<div class="clients-content">
        <p>
            I've worked with some diverse clients as well as many smaller community projects. Below is a 
            list of some of my bigger clients. They have included <span class="details">Playgen, BBC, Welcome Trust, Research Now  </span>
            and many other smaller operations.
            <br />
            <img src="./media/images/pages/all-logos.jpg" />
            
        </p>
        <p>
            I also host a number of open source projects <br />which you can view and access via my <a href="https://github.com/MKHenson">Github account.</a>
            <br />
            <a href="https://github.com/MKHenson" title="Follow me at github"><img src="./media/images/pages/git-octo.jpg" /></a>
        </p>
	</div>
</div>
<div class="tech" id="tech">
	<h1>Technologies</h1>
    <div class="bio">
        I have worked in a number of different languages and technologies - both frontend and backend. Not in any particular order...
        <div class="fix"></div>
        <div class="tech-block">
            <div class="header">Front End</div>
            <div>
                <ul>
                    <li>Typescript</li>
                    <li>Webgl</li>
                    <li>GLSL</li>
                    <li>AS3</li>
                    <li>JavaScript ES6 and ES7</li>
                    <li>AJAX</li>
                    <li>CSS3</li>
                </ul>
            </div>
        </div>

        <div class="tech-block">
            <div class="header">Backend</div>
            <div>
                <ul>
                    <li>NodeJS</li>
                    <li>Typescript</li>
                    <li>MongoDB</li>
                    <li>PHP 5</li>
                    <li>MYSQL</li>
                    <li>ASP</li>
                    <li>Bash Script</li>
                </ul>
            </div>
        </div>
        <div class="fix"></div>

        <div class="tech-block">
            <div class="header">Application Development</div>
            <div>
                <ul>
                    <li>C# Winforms</li>
                    <li>C++</li>
                    <li>C# WPF</li>
                    <li>Lua</li>
                    <li>Python</li>
                    <li>Bash Script</li>
                </ul>
            </div>
        </div>
        <div class="tech-block">
            <div class="header">Systems and Processes</div>
            <div>
                <ul>
                    <li>Linux</li>
                    <li>Ubuntu 14</li>
                    <li>Windows</li>
                    <li>Github</li>
                    <li>SVN</li>
                    <li>Agile</li>
                    <li>Test Driven Development</li>
                </ul>
            </div>
        </div>
        <div class="fix"></div>


        <div class="tech-block">
            <div class="header">Third Party Web Technologies</div>
            <div>
                <ul>
                    <li>AngularJS</li>
                    <li>NPM</li>
                    <li>Facebook Connect</li>
                    <li>Twitter API</li>
                    <li>jQuery</li>
                    <li>WordPress</li>
                    <li>Alternativa</li>
                    <li>Away3D</li>
                    <li>Google Maps</li>
                </ul>
            </div>
        </div>

        <div class="tech-block">
            <div class="header">Desktop SDK's and Third Party Technologies</div>
            <div>
                <ul>
                    <li>Ogre 3D</li>
                    <li>Gamebryo</li>
                    <li>Mindfusion Flow Charts</li>
                    <li>Dock Panel Suite</li>
                    <li>DirectX &amp; XNA</li>
                    <li>HLSL</li>
                    <li>Managed Direct X</li>
                    <li>.Net</li>
                    <li>Lua Bind</li>
                </ul>
            </div>
        </div>

    </div>
</div>
