<div class="blog-page animate" ng-repeat="post in controller.posts">
	<div class="date">{{post.createdOn | date:"dd MMMM yyyy"}}</div>
	<div class="blog-header"><a ng-href="./post/{{post.slug}}">{{post.title}}</a></div>
	<div class="author">Posted by <a ng-href=".?author={{post.author}}">{{post.author}}</a></div>
	<div class="post-body" ng-bind-html="post.content"></div>
	<div class="tags">
		{{ post.tags.length > 0 ? "Tagged in " : "" }}
		<span ng-repeat="tag in post.tags">
			<a ng-href=".?tag={{tag}}">{{tag}}</a> {{$last == false ? ", " : ""}}
		</span>
	</div>
	<a ng-href="./post/{{post.slug}}"><div class="button blue">Read More</div></a>
</div>