<div class="home-info">
	<h1>Mathew Henson</h1>
	<h3>Developer - Entreupeneur - Consultant</h3>
</div>
<div class="what-we-do">
	<div class="what-we-do-cloud what-we-do-cloud-1"></div>
	<div class="what-we-do-cloud what-we-do-cloud-2"></div>
	<div class="what-we-do-cloud what-we-do-cloud-4"></div>
</div>
<div class="home-background" >
	<div class="tree tree-a"></div>
    <div class="tree tree-b"></div>
    <div class="tree tree-b" style="left:1280px"></div>
    <div class="rex-outer"><div class="rex"></div></div>
    <img class="home-img" src="media/images/mathew-profile.png"/>
	<a class="home-img float-up-down" href="https://twitter.com/MathewKHenson" title="Follow me on twitter" target="_blank"><img  src="/media/images/footer-twitter.png" /></a>
</div>
<div class="blog-container">
    <div class="navigation">
        <a class="earlier" ui-sref="home.posts({tag: controller.selectedTag, index:  controller.index > controller.limit ? controller.index - controller.limit : 0 })" ng-if="controller.index != 0">< Earlier Posts</a>
		<a class="older"   ui-sref="home.posts({tag: controller.selectedTag, index: controller.index + controller.limit })" ng-if="( controller.index + controller.limit < controller.last )">Older Posts ></a>
		<div class="categories">
			<span><a ui-sref="home.posts({tag: '', index: '0'})">News</a></span>
			<span><a ui-sref="home.posts({tag: 'mk-tutorials', index: '0'})">Tutorials</a></span>
			<span><a ui-sref="home.posts({tag: 'mk-projects', index: '0'})">Projects</a></span>
		</div>
        <div class="fix"></div>
    </div>

    <div ui-view class="loading-white"></div>
    <div class="fix"></div>

    <div class="navigation">
        <a class="earlier" ng-show="controller.index" ng-href=".?index={{controller.index > controller.limit ? controller.index - controller.limit : 0 }}">< Earlier Posts</a>
        <a class="older" ng-show="controller.index + controller.limit < controller.last" ng-href=".?index={{controller.index + controller.limit}}">Older Posts ></a>
        <div class="fix"></div>
    </div>
</div>
