
<div class="what-we-do">
	<div class="what-we-do-cloud what-we-do-cloud-1"></div>
	<div class="what-we-do-cloud what-we-do-cloud-2"></div>
	<div class="what-we-do-cloud what-we-do-cloud-4"></div>
</div>
<div class="home-background" >
	<div class="tree tree-a"></div>
    <div class="tree tree-b"></div>
    <div class="tree tree-b" style="left:1100px"></div>
    <div class="rex-outer"><div class="rex"></div></div>
    <img class="home-img" src="media/images/mathew-profile.png"/>
	<a class="home-img float-up-down" href="https://twitter.com/MathewKHenson" title="Follow me on twitter" target="_blank"><img  src="/media/images/footer-twitter.png" /></a>
</div>
<div class="blog-container">

    <div class="navigation">
        <a class="earlier" ng-class="{hide : controller.index == 0 }" ng-href=".?index={{controller.index > controller.limit ? controller.index - controller.limit : 0 }}">< Earlier Posts</a>
		<a class="older" ng-class="{ hide: ( controller.index + controller.limit < controller.last ) == false }" ng-href=".?index={{controller.index + controller.limit}}">Older Posts ></a>        
		<div class="categories">
			<span><a ng-href=".?tag=mk-news">News</a></span>
			<span><a ng-href=".?tag=mk-tutorials">Tutorials</a></span>
			<span><a ng-href=".?tag=mk-projects">Projects</a></span>
		</div>
        <div class="fix"></div>
    </div>

    <div class="loading-white"><div class="blog-page animate" ng-repeat="post in controller.posts">
            <div class="date">{{post.createdOn | date:"dd MMMM yyyy"}}</div>
            <div class="blog-header"><a ng-href="./post/{{post.slug}}">{{post.title}}</a></div>
            <div class="author">Posted by <a ng-href=".?author={{post.author}}">{{post.author}}</a></div>
            <div class="post-body" ng-bind-html="post.content"></div>
            <div class="tags">
                {{ post.tags.length > 0 ? "Tagged in " : "" }}
                <span ng-repeat="tag in post.tags">
                    <a ng-href=".?tag={{tag}}">{{tag}}</a> {{$last == false ? ", " : ""}}
                </span>
            </div>
            <a ng-href="./post/{{post.slug}}"><div class="button blue">Read More</div></a>
    </div></div>

    <div class="fix"></div>

    <div class="navigation">
        <a class="earlier" ng-show="controller.index" ng-href=".?index={{controller.index > controller.limit ? controller.index - controller.limit : 0 }}">< Earlier Posts</a>
        <a class="older" ng-show="controller.index + controller.limit < controller.last" ng-href=".?index={{controller.index + controller.limit}}">Older Posts ></a>
        <div class="fix"></div>
    </div>
</div>
